.displayed-person {
  height: 340px;
  margin-top: 30px;
}

.person-info {
  width: 300px;
  display: inline-block;
  float: left;
}

.made-by-user-content {
  border-bottom: 1px solid #000;
  height: 130px;
}

.user-contribution {
  width: 300px;
  float: left;
}

.displayed-todo {
  border-right: 1px solid #f0f0f0;
  height: 150px;
  width: 350px;
  float: right;
  padding-left: 20px;
  border-bottom: 1px solid #000;
  margin-top: 20px;
}

.uncompleted-todo {
  color: #DD4040;
}

.completed-todo {
  color: #81C13D;
}

.image-container {
  height: 300px;
  margin: auto;
  width: 635px;
}

.single-image {
  width: 200px;
  height: 200px;
}

.single-image-wrapper {
  width: 200px;
  float: left;
  margin: 5px;
  display: inline-block;
}

div.album-container {
  border-bottom: 1px solid #f0f0f0;
  padding-top: 15px;
  height: 400px;
}

.album-info {
  width: 84%;
  margin: auto;
}

.epic-post-container {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.epic-post-title {
  margin-bottom: 5px;
  font-weight: 600;
}

.epic-comment-container {
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

.epic-post-container p {
  margin-bottom: 5px;
}

.epic-comment-content {
  width: 90%;
  border-bottom: 1px solid #f0f0f0;
  margin: auto;
  margin-bottom: 20px;
}

.epic-comment-content:last-child {
  border-bottom: none;
}

.epic-comment-email {
  margin-bottom: 5px;
  font-style: italic;
}
